<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration form</title>
    <link rel="stylesheet" type="text/css" href="src/reg.css">
</head>
<body>
<h2>Welcome <a th:text="${user.getFirstname()}"></a> to dog selector website!</h2>
<h3>Just answer for a few questions and we will pick up the dog that will suit you </h3>



<div class="signupFrm">
    <div class="wrapper">
        <form th:method="POST" th:action="@{/dog_select/{id}(id=${user.getId()})}"
              th:object="${behavior_options}"  class="form">

            <br><br>

            <div class="inputContainer">
                <label for="mood" class="label">Do you prefer more active, aggressive or calm dog?</label>
                <a>Active - 1, Aggressive - 2, Calm - 3</a>
                <input th:field="*{mood}" type="text" name="mood" id="mood" class="input" placeholder="a"/>

            </div>
            <div class="inputContainer">
                <label for="size" class="label">Pick size of dog that you prefer</label>
                <a>Big - 1, Medium - 2, Small - 3</a>
                <input th:field="*{size}" type="text" name="size" id="size" class="input" placeholder="a"/>

            </div>
            <div class="inputContainer">
                <label for="lifestyle" class="label"> Do you like street or domestic animal?</label>
                <a>Street - 1, Domestic - 2</a>
                <input th:field="*{lifeStyle}" type="text" name="lifestyle" id="lifestyle" class="input" placeholder="a"/>

            </div>
            <div class="inputContainer">
                <label for="intellect" class="label">Should dog be trained or not trained?</label>
                <a>Trained - 1, NoTrained - 2</a>
                <input th:field="*{intellect}" type="text" name="intellect" id="intellect" class="input" placeholder="a"/>

            </div>


            <input type="submit" class="submitBtn" value="Pick up me a dog!">

        </form>
    </div>
</div>


</body>
</html>