<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Balto - dog selector</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/selector.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
</head>

<body>

    <div class="header_section1">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="logo" style="width: 200px;"><a href="/index.html"><img src="/images/balto.png"></a></div>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="services.html">services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="shop.html">Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contact</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <h1 class="call_text">Call Us : +7(708) 517-64-91</h1>
                    </form>
                    <div class="search_icon">
                        <ul>
                            <li><a href="/register.html">LOGIN</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>


    <section class="ftco-section">
        <div class="container">
            <form th:method="POST" th:action="@{/dog_select/{id}(id=${user.getId()})}"
                  th:object="${behavior_options}"  class="form">

            <div class="text-center">
                <div class=" col-md-12">
                    <h2 class="heading-section">Dog selector</h2>
                    <p class="para">here you can easily make the simplest choice, after which the platform will give you
                        the perfect
                        dog</p>
                </div>
            </div>

            <div class="d-flex flex-row">
                <div class=" col-md-12">
                    <h2 class="heading-section mb-5">Do you prefer more active, aggressive or calm dog?</h2>
                </div>
            </div>
            <div class="d-flex flex-row">
                <div class="col-md-12">
                    <ul class="ks-cboxtags">
                        <li >
                            <input type="checkbox" name="mood" th:checked="*{mood}" id="checkBoxOne" th:value="1">
                            <label for="checkBoxOne"   ><a>ㅤㅤㅤActiveㅤ</a>ㅤㅤ </label>
                        </li>
                        <li>
                            <input type="checkbox" name="mood" th:checked="*{mood}"  id="checkboxTwo" th:value="2">
                            <label for="checkboxTwo"   >ㅤㅤㅤAggressiveㅤㅤㅤ</label>
                        </li>
                        <li>
                            <input type="checkbox" name="mood" th:checked="*{mood}"  id="checkboxThree" th:value="3">
                            <label for="checkboxThree"   >ㅤㅤㅤCalmㅤㅤㅤ</label>
                        </li>
                    </ul>
                </div>
            </div>



        <div class="container">
            <div class="d-flex flex-row">
                <div class=" col-md-12">
                    <h2 class="heading-section mb-5">Pick size of dog that you prefer</h2>
                </div>
            </div>
            <div class="d-flex flex-row">
                <div class="col-md-12">
                    <ul class="ks-cboxtags">
                        <li>
                            <input type="checkbox" name="size" th:checked="*{size}" id="checkedBoxOne" value="1">
                            <label for="checkedBoxOne">ㅤㅤㅤBigㅤㅤㅤ</label>
                        </li>
                        <li>
                            <input type="checkbox"  name="size" th:checked="*{size}" id="checkedBoxTwo" value="2">
                            <label for="checkedBoxTwo">ㅤㅤㅤMediumㅤㅤㅤ</label>
                        </li>
                        <li>
                            <input type="checkbox"  name="size" th:checked="*{size}" id="checkedBoxThree" value="3">
                            <label for="checkedBoxThree">ㅤㅤㅤSmallㅤㅤㅤ</label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>



        <div class="container">
            <div class="d-flex flex-row">
                <div class=" col-md-12">
                    <h2 class="heading-section mb-5">Do you like street or domestic dog? </h2>
                </div>
            </div>

            <div class="d-flex flex-row">
                <div class="col-md-12">
                    <ul class="ks-cboxtags">
                        <li>
                            <input type="checkbox" name="lifeStyle" th:checked="*{lifeStyle}" id="lifeStyle1" value="1">
                            <label for="lifeStyle1">ㅤㅤㅤStreetㅤㅤㅤ</label>
                        </li>
                        <li>
                            <input type="checkbox" name="lifeStyle" th:checked="*{lifeStyle}" id="lifeStyle2" value="2">
                            <label for="lifeStyle2">ㅤㅤㅤDomesticㅤㅤㅤ</label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="d-flex flex-row">
                <div class=" col-md-12">
                    <h2 class="heading-section mb-5">Should dog be trained or not? </h2>
                </div>
            </div>
            <div class="d-flex flex-row">
                <div class="col-md-12">
                    <ul class="ks-cboxtags">
                        <li>
                            <input type="checkbox" name="intellect" th:checked="*{intellect}" id="intellect1" value="1">
                            <label for="intellect1">ㅤㅤㅤTrainedㅤㅤㅤ</label>
                        </li>
                        <li>
                            <input type="checkbox"  name="intellect" th:checked="*{intellect}" id="intellect2" value="2">
                            <label for="intellect2">ㅤㅤㅤNot Trainedㅤㅤㅤ</label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="text-center">
                <div class=" col-md-12">
                    <p>if you are sure that you made the right choice, then you can safely continue</p>
                </div>
            </div>
            <div class="contact_bt_main1">
                <div class="contact_bt1">
            <input type="submit"  value="Pick up me a dog!">
                </div>
            </div>
        </div>

            </form>

        </div>

    </section>







    <div class="footer_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="fooer_logo" style="width: 150px;"><img src="/images/footer.png"></div>
                    <p class="footer_lorem_text">sdadsdasd ad dsad sad sa das das dasdasd asdasd asdasd asdasd
                        asdsad asdasd asdasd
                    </p>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <h1 class="customer_text">LET US HELP YOU</h1>
                    <p class="footer_lorem_text">sdadsdasd ad dsad sad sa das das dasdasd asdasd asdasd asdasd
                        asdsad asdasd asdasd
                    </p>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <h1 class="customer_text">INFORMATION</h1>
                    <p class="footer_lorem_text1">About Us<br>
                        About Us<br>
                        About Us<br>
                        About Us<br>
                        About Us<br>
                        Terms & Conditions
                    </p>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <h1 class="customer_text">OUR Design</h1>
                    <p class="footer_lorem_text">sdadsdasd ad dsad sad sa das das dasdasd asdasd asdasd asdasd
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright_section">
        <div class="container">
            <div class="social_icon">
                <ul>
                    <li><a href=""><img src="/images/fb-icon.png"></a></li>
                    <li><a href="#"><img src="/images/twitter-icon.png"></a></li>
                    <li><a href="#"><img src="/images/instagram-icon.png"></a></li>
                    <li><a href="#"><img src="/images/linkedin-icon.png"></a></li>
                </ul>
            </div>
            <p class="copyright_text">2022 All Rights Reserved.</p>
        </div>
    </div>

    <script>
       function moodFunc(p1)
       {
           if(p1=1){
               ${behavior_options.setMood(p1)};
           }
       }
    </script>
</body>

</html>