<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration form</title>
    <link rel="stylesheet" type="text/css" href="src/reg.css">
</head>
<body>
<h3>You should pick  <a th:text="${backClient.getDogSpeecy()}"></a> </h3>
<h3>The date to pick up a dog is <a th:text="${backClient.getDate()}"></a> </h3>
<h3>The total cost for dog will be <a th:text="${backClient.getCost()}"></a> </h3>
<h3>Description <a th:text="${backClient.getDescription()}"></a> </h3>
<br>
<h3>Information about your dog: <a th:text="${descriptionOfDog}"></a> </h3>





</body>
</html>